// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.year {
	width: 20%;
}
.month {
	width: 25%;
}
.day {
	width: 12%;
}
.hour {
	width: 12%;
}
.minute {
	width: 12%;
}
.required {
	color: red;
}
